*.class
*.iml
*.ipr
*.iws
*.prefs
*.spec
*.swp
*.tar.gz
.bash_history
.classpath
.factorypath
.idea
.metadata
.pmd
.project
.settings
exported-artifacts
logs
mocker-*.cfg
rpmbuild
sdk/settings.xml
target
